@import "achievement-notes";

.achievement-rows {

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 25px;
  }

  &__description {
    width: 260px;
    font-size: 16px;
    line-height: 1.4;
  }
}