.achievement-columns {
  float: left;
  width: 61%;

  @media (max-width: $sm) {
    width: 100%;
    float: none;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;
    width: 261px;
    height: 271px;
    padding: 35px 25px;
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.12);

    @media (max-width: $sm) {
      width: 48%;
    }

    @media (max-width: $xs) {
      width: 100%;
      display: block;
      margin-right: 0;
    }

    &:first-child {
      margin-right: 20px;

      @media (max-width: $xs) {
        margin-bottom: 20px;
      }
    }
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    color: #ff5500;
    text-transform: uppercase;
    margin-bottom: 4px;

    &_sub-title {
      font-size: 18px;
      font-weight: normal;
      text-transform: lowercase;
    }
  }

  &__list {
    margin-top: 16px;
    font-size: 16px;

    .list__item {
      &:not(:last-child) {
        padding-bottom: 3px;
      }


      &:before{
        content:"•";
        font-size: 17px;
        margin-right: 18px;
      }
    }
  }
}