.achievement-rows {
  padding-top: 12px;

  &__item {
    margin-bottom: 25px;
  }

  &__description {
    display: inline-block;
    width: 260px;
    height: 44px;
    max-height: 44px;
    overflow: hidden;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 16px;
    line-height: 1.4;
  }
}