.advantages-range {
  display: flex;

  &__item {
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    height: 43px;
    max-width: 51px;
    margin-bottom: 25px;

    img {
      height: 100%;
    }
  }

  &__description {
    font-size: 22px;
    line-height: 1.27;

    .description__title {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 4px;

      & > span {
        font-size: 24px;
      }
    }
  }

}