@import "work-steps";

.how-we-work {

  &__title {
    font-size: 42px;
    font-weight: 300;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 15px;
  }
}