.section-statistic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: flex-end;
  grid-template-areas: 'header .' 'footer-left footer-right';

  &__item {

    &:nth-child(1) {
      grid-area: header;
      align-self: flex-start;

      .section-statistic__notes {
        position: absolute;
        top: -23px;
        right: -104px;
      }

      .achievement-notes__icon {
        top: 8px;
        right: -77px;
      }
    }

    &:nth-child(2) {
      grid-area: footer-left;

      .section-statistic__notes {
        position: absolute;
        top: -88px;
        right: 50px;

        .achievement-notes__icon {
          top: -9px;
          right: -13px;
        }
      }
    }

    &:nth-child(3) {
      grid-area: footer-right;

      .section-statistic__notes {
        position: absolute;
        top: -48px;
        right: -12px;

        .achievement-notes__icon {
          right: 11px;
          top: -3px;
        }

      }
    }
  }

  &__text {
    font-size: 42px;
    font-weight: 300;
    line-height: 1;
    position: relative;

    &_lg {
      font-size: 76px;
      line-height: 0.87;
    }
  }

}