.section-statistic {
  width: 61%;
  float: right;

  &__item {
    width: 250px;
    display: inline-block;

    &:nth-child(1) {
      display: block;
      margin-bottom: 99px;

      .section-statistic__notes {
        position: absolute;
        top: -13px;
        right: -147px;

        .achievement-notes__icon {
          top: 8px;
          right: -77px;
        }
      }


    }

    &:nth-child(2) {
      margin-right: 25px;

      .section-statistic__notes {
        position: absolute;
        top: -88px;
        right: 8px;

        .achievement-notes__icon {
          top: -9px;
          right: -13px;
        }
      }
    }

    &:nth-child(3) {

      .section-statistic__notes {
        position: absolute;
        top: -53px;
        right: -52px;

        .achievement-notes__icon {
          right: 11px;
          top: -3px;
        }

      }
    }
  }

  &__text {
    font-size: 42px;
    font-weight: 300;
    line-height: 1;
    position: relative;

    &_lg {
      font-size: 76px;
      line-height: 0.87;
    }
  }

}