$xs: 320px;
$sm: 768px;
$md: 960px;
$lg: 1200px;

$num-of-classes: 100;
$directions: ('top', 'bottom', 'left', 'right');
$types: ('margin', 'padding');
$queries: (
        $xs: 'xs',
        $sm: 'sm',
        $md: 'md',
        $lg: 'lg'
);

@mixin generate-margins-px () {
  @each $type in $types {

    @each $direction in $directions {
      @for $i from 0 through ($num-of-classes) - 1 {
        .#{$type}-#{$i} {
          #{$type}: (#{$i}px) !important;
        }
      }
    }

    @each $query, $z in $queries {
      @media(min-width: #{$query}) {
        @for $i from 0 through ($num-of-classes) - 1 {
          .#{$type}-#{$z}-#{$i} {
            #{$type}: (#{$i}px) !important;
          }
        }
      }
    }

    @each $direction in $directions {
      @for $i from 0 through ($num-of-classes) - 1 {
        .#{$type}-#{$direction}-#{$i} {
          #{$type}-#{$direction}: (#{$i}px) !important;
        }
      }
    }

    @each $query, $z in $queries {
      @media(min-width: #{$query}) {
        @each $direction in $directions {
          @for $i from 0 through ($num-of-classes) - 1 {
            .#{$type}-#{$direction}-#{$z}-#{$i} {
              #{$type}-#{$direction}: (#{$i}px) !important;
            }
          }
        }
      }
    }
  }
}

@mixin generate-margins-rem () {
  @each $type in $types {

    @each $direction in $directions {
      @for $i from 0 through ($num-of-classes) - 1 {
        .#{$type}-#{$i}-rem {
          #{$type}: (#{$i}rem) !important;
        }
      }
    }

    @each $query, $z in $queries {
      @media(min-width: #{$query}) {
        @for $i from 0 through ($num-of-classes) - 1 {
          .#{$type}-#{$z}-#{$i}-rem {
            #{$type}: (#{$i}rem) !important;
          }
        }
      }
    }

    @each $direction in $directions {
      @for $i from 0 through ($num-of-classes) - 1 {
        .#{$type}-#{$direction}-#{$i}-rem {
          #{$type}-#{$direction}: (#{$i}rem) !important;
        }
      }
    }

    @each $query, $z in $queries {
      @media(min-width: #{$query}) {
        @each $direction in $directions {
          @for $i from 0 through ($num-of-classes) - 1 {
            .#{$type}-#{$direction}-#{$z}-#{$i}-rem {
              #{$type}-#{$direction}: (#{$i}rem) !important;
            }
          }
        }
      }
    }
  }
}

@include generate-margins-px();
@include generate-margins-rem();